main{
    margin: 32px 124px;
}

.Album1{
    margin-bottom: 48px;
    display: inline-flex;
}

.imgA1{
    width: 200px;
    height: 250px;
}

.contentA1{
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    margin-top:24px;
}

.contentA1 p{
    margin: 0;
    margin-top:12px;
    color: #0c0c0c;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
}
.contentA1 h2{
    margin: 0;
    color: #0c0c0c;
    font-size: 24px;
}
.contentA1 a{
    align-self: flex-start;
    margin-top: 20px;
}

.Album2{
    margin-bottom: 48px;
    display: inline-flex;
}

.imgA2{
    width: 200px;
    height: 250px;
}

.contentA2{
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    margin-top:24px ;
}

.contentA2 p{
    margin: 0;
    margin-top:12px;
    color: #0c0c0c;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
}
.contentA2 h2{
    margin: 0;
    color: #0c0c0c;
    font-size: 24px;
}
.contentA2 a{
    align-self: flex-start;
    margin-top: 20px;
}

.Album3{
    margin-bottom: 48px;
    display: inline-flex;
}

.imgA3{
    width: 200px;
    height: 250px;
}

.contentA3{
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    margin-top:24px ;
}

.contentA3 p{
    margin: 0;
    margin-top:12px;
    color: #0c0c0c;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
}
.contentA3 h2{
    margin: 0;
    color: #0c0c0c;
    font-size: 24px;
}
.contentA3 a{
    align-self: flex-start;
    margin-top: 20px;
}
.Album4{
    margin-bottom: 100px;
    display: inline-flex;
}

.imgA4{
    width: 200px;
    height: 250px;
}

.contentA4{
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    margin-top:24px ;
}

.contentA4 p{
    margin: 0;
    margin-top:12px;
    color: #0c0c0c;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
}
.contentA4 h2{
    margin: 0;
    color: #0c0c0c;
    font-size: 24px;
}
.contentA4 a{
    align-self: flex-start;
    margin-top: 20px;
}

.Album1tel{
    display: none;
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    main{
        margin-right: 24px;
        margin-left: 223px;
    }

    .Album1{
        margin-top: 24px;
        margin-bottom: 48px;
        display: inline-flex;
    }
    
    .imgA1{
        width: 170px;
        height: 220px;
    }
    
    .contentA1{
        margin-left: 8px;
        display: flex;
        flex-direction: column;
        margin-top:0px;
    }
    
    .contentA1 p{
        margin: 0;
        margin-top:4px;
        color: #0c0c0c;
        font-size: 14px;
        line-height: 1.5;
        text-align: justify;
    }
    .contentA1 h2{
        margin: 0;
        color: #0c0c0c;
        font-size: 22px;
    }
    .contentA1 a{
        align-self: flex-end;
        margin-top: 8px;
    }
    
    .Album2{
        margin-bottom: 48px;
        display: inline-flex;
    }
    
    .imgA2{
        width: 170px;
        height: 220px;
    }
    
    .contentA2{
        margin-left: 8px;
        display: flex;
        flex-direction: column;
        margin-top:0px ;
    }
    
    .contentA2 p{
        margin: 0;
        margin-top:4px;
        color: #0c0c0c;
        font-size: 14px;
        line-height: 1.5;
        text-align: justify;
    }
    .contentA2 h2{
        margin: 0;
        color: #0c0c0c;
        font-size: 22px;
    }
    .contentA2 a{
        align-self: flex-end;
        margin-top: 8px;
    }
    
    .Album3{
        margin-bottom: 48px;
        display: inline-flex;
    }
    
    .imgA3{
        width: 170px;
        height: 220px;
    }
    
    .contentA3{
        margin-left: 8px;
        display: flex;
        flex-direction: column;
        margin-top:0px ;
    }
    
    .contentA3 p{
        margin: 0;
        margin-top:4px;
        color: #0c0c0c;
        font-size: 14px;
        line-height: 1.5;
        text-align: justify;
    }
    .contentA3 h2{
        margin: 0;
        color: #0c0c0c;
        font-size: 22px;
    }
    .contentA3 a{
        align-self: flex-end;
        margin-top: 8px;
    }
    .Album4{
        margin-bottom: 24px;
        display: inline-flex;
    }
    
    .imgA4{
        width: 170px;
        height: 220px;
    }
    
    .contentA4{
        margin-left: 8px;
        display: flex;
        flex-direction: column;
        margin-top:0px ;
    }
    
    .contentA4 p{
        margin: 0;
        margin-top:4px;
        color: #0c0c0c;
        font-size: 14px;
        line-height: 1.5;
        text-align: justify;
    }
    .contentA4 h2{
        margin: 0;
        color: #0c0c0c;
        font-size: 22px;
    }
    .contentA4 a{
        align-self: flex-end;
        margin-top: 8px;
    }
    .Album1tel{
        display: none;
    }
}

@media screen and (max-width: 767px){
    main{
        margin-left: 8px;
        margin-right: 8px;
        margin-top: 64px;
    }
    .Album1{
        display: none;
    }
    .Album2{
        display: none;
    }
    .Album3{
        display: none;
    }
    .Album4{
        display: none;
    }
    .Album1tel{
        display: flex;
        flex-direction: column;
        margin-bottom: 58px;
        margin-top: 24px;
    }
    .imgbuton{
        display: inline-flex;

    }
    .imgbuton.imgA{
        width:100px;
        height: 150px;
        margin-right:20px;
    }
    .imgbuton a{
        align-self: center;
    }
    .Album1tel h2{
        font-size: 20px;
        margin:0;
        padding:0;
        color: #0c0c0c;
    }
    .Album1tel p{
        font-size: 12px;
        line-height: 1.5;
        margin-right:0;
        margin-left: 0;
        margin-top: 4px;
        margin-bottom:8px;
        text-align: justify;
        color: #0c0c0c;
    }
    
}